{% extends "superhero.html" %}
{% block content %}
	<div class="col-lg-12">
	<h2>Contribute</h2>
	<br>
	<p>Status.ctrl is an open-source project developed with <a href="https://www.djangoproject.com/" target="_blank">Django</a>, that's why you may contribute to the <a target="_blank" href="https://bitbucket.org/Dsensei/status.ctrl/">git repository</a> and...</p>
		<ul>
		<li>add missing features,</li>
		<li>add templates,</li>
		<li>improve code,</li>
		<li>even translate it!</li>
	</ul>
	<p>Another way to contribute is to talk about the project to people who might be interested!</p>
	<p>Thanks for sharing!</p>

	</div>
{% endblock %}