{% extends "superhero.html" %}
{% block content %}
	<div class="col-lg-12">
		<div class="progress">
			<div class="progress-bar progress-bar-success" style="width: 70%"></div>
			<div class="progress-bar progress-bar-warning" style="width: 20%"></div>
			<div class="progress-bar progress-bar-danger" style="width: 10%"></div>
		</div>
		{% if modules %}
			{% for module in modules %}
				<div class="row">
					<div class="col-lg-8">
						<div class="bs-component">
							<h2>
								<a target="_blank" href="{{ module.url }}">
									{{ module.name }}
								</a>
								- <small>{{ module.description }}</small>
							</h2>
							<small>Last update : {{ module.last_updated|date:"jS F Y H:i:s" }}</small>
							{% if module.watchers %}
								{% for watcher in module.watchers %}
									<div class="jumbotron">
										<h3>{{ watcher.name }}</h3>
										{% if watcher.monitors %}
											{% for monitor in watcher.monitors %}
												<br>
												<br>
												<div class="monitor" style="border-left:2px solid #eee; padding-left: 20px; padding-bottom: 10px;">
													<h4 style="float: left">{{ monitor.name }}</h4>
													<p style="float: right;">
														{% if monitor.name == "PING" %}
															{{ monitor.data_avg|floatformat }}ms
														{% elif monitor.name == "AVAILABILITY" %}
															{{ monitor.data_avg|floatformat:3 }} %
														{% elif monitor.name == "STATUS" %}
															{{ monitor.status }}
														{% endif %}
													</p>
													<br>
													{% if monitor.data %}
													<div id="chart-{{ watcher.id }}-{{ monitor.name|lower }}"
													     style="height: {% if monitor.name == "PING" %}200{% elif monitor.name == "AVAILABILITY" %}100{% elif monitor.name == "STATUS" %}100{% endif %}px; margin: 0 auto"></div>
													<script>
														$(function () {
															var interval = {{ watcher.ttl }};
															var range_min = 14 * interval * 1000; // ms
															$('#chart-{{ watcher.id }}-{{ monitor.name|lower }}').highcharts({

																chart: {
																	backgroundColor: 'rgba(0, 0, 0, 0)',
																	zoomType: 'x',
																	marginRight: 20,
																	marginBottom: 25,
																	style: {
																		fontFamily: 'monospace',
																		color: "#fff"
																	}
																},
																title: null,
																colors: ['#27ae60'],
																subtitle: null,
																xAxis: {
																	type: 'datetime',
																	minRange: range_min, // fourteen days,
																	lineColor: '#EEEEEE',
																	lineWidth: 2,
																	labels: {
																		style: {
																			color: '#EEEEEE',
																			font: '11px Trebuchet MS, Verdana, sans-serif'
																		}
																	}
																},
																yAxis: {
																	title: {
																		text: '{{ monitor.name|lower }}'
																	},
																	gridLineWidth: 0.5,
																	labels: {
																		style: {
																			color: '#EEEEEE',
																			font: '11px Trebuchet MS, Verdana, sans-serif'
																		}
																	}
																},
																legend: {
																	enabled: false
																},
																plotOptions: {
																	area: {
																		fillColor: {
																			plotBackgroundColor: 'rgba(255, 255, 255, .5)'
																		},
																		marker: {
																			radius: 2
																		},
																		lineWidth: 0.7,
																		states: {
																			hover: {
																				lineWidth: 1.2
																			}
																		},
																		threshold: null
																	}
																},
																credits: {
																	position: {
																		align: 'left',
																		verticalAlign: 'bottom',
																		x: 10,
																		y: 0
																	}
																},
																navigation: {
																	buttonOptions: {
																		enabled: false
																	}
																},
																tooltip: {
																	shared: true,
																	useHTML: true,
																	positioner: function () {
																		return { x: 67, y: 0 };
																	},
																	shadow: false,
																	borderWidth: 0,
																	backgroundColor: 'rgba(255,255,255,0.7)'
																},
																series: [{
																	type: 'area',
																	name: '{{ monitor.name|title }}',
																	pointInterval: interval * 1000,
																	{% with monitor.data.all|first as d %}
																		pointStart: Date.UTC({{ d.date_created|date:"Y, m, j, H, i, s" }}),
																	{% endwith %}
																	data: [{% for data in monitor.data %}{{ data.value }},{% endfor %}]
																}]
															});
														});
													</script>
													{% else %}
														<br>
														<p style="padding: 20px 0; text-align: center">Data unavailable!</p>
													{% endif %}
												</div>
											{% endfor %}
										{% endif %}
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-lg-4">
						{% if not module.watchers %}
							<div class="alert alert-dismissable alert-info">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<h4><strong>Help</strong></h4>
								<p>It seems that you didn't add any watcher to this module!</p>
								<p><a href="#" class="alert-link">Click Here</a></p>
							</div>
						{% endif %}
						<div class="alert alert-dismissable alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4><strong>Well done!</strong></h4>
							<p>Everything works as expected!</p>
						</div>
						<div class="alert alert-dismissable alert-warning">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4><strong>Warning!</strong></h4>
							<p>Best check your services, at least one of them seems to be
								unstable.</p>
						</div>
						<div class="alert alert-dismissable alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<h4><strong>Alert!</strong></h4>
							<p>Something went wrong, at least one of your service is down!</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
